@font-face {
    font-family: 'Biocad Display';
    src: url('fonts/Biocad_Display-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Biocad Regular';
    src: url('fonts/Biocad_Display-Regular.ttf') format('truetype');
    font-weight: normal;
}

body {
    font-family: 'Biocad Regular', sans-serif;
    background-image: url('src/background.png');
    line-height: 150%;
    color: #ffffff;
    margin: 0;
    padding: 0;
    letter-spacing: 0.045em; 
}

.container {
    width: 800px;
    min-width: 600px;
    margin: 0 auto;
    padding: 5%;
    background-image: url('src/background.png');
    background-size: cover; 
    background-position: center; 
    border-radius: 0%;
}

header {
    text-align: left;
}

.logo {
    
    display: inline-block;
    max-height: 100px;
    margin-bottom: -10px;
    
}

h1 {
    font-family: 'Biocad Display', sans-serif;
    font-size: 3em;
    line-height: 100%;
    color: #00d8ff;
    letter-spacing: 0.03em; 
}



.line {
    width: 60%;
    height: 2px;
    background: linear-gradient(to right,#00d8ff, transparent);
    margin: 20px 0;
}

header p {
    font-family: 'Biocad Regular', sans-serif;
    font-size: 2em;
    color: #ffffff;
}

header p b{
    font-family: 'Biocad Display', sans-serif;
    font-size: 1em;
    color: #ffffff;
}

.line-long {
    width: 95%;
    height: 2px;
    background: linear-gradient(to right,#00d8ff, transparent);
    margin: 20px 0;
}

h2 {
    padding-top: 3%;
    font-size: 2em;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    letter-spacing: 0.08em; 
}

.program {
    display: flex;
    flex-direction: column;
}

.event {
    display: flex;
    
}

.time {
    padding-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 0.05em; 
    flex: 0 0 100px; 
    text-align: left;
    
}

.details {
    flex: 1;
}

.details p strong {
    color: #00d8ff;
    font-family: 'Biocad Display', sans-serif;
}

footer {
    text-align: center;
    margin-top: 10%;
    
}

.btn {
    font-family: 'Biocad Display', sans-serif;
    font-weight: 800;
    display: inline-block;
    padding: 15px 20px;
    background-color: #00d8ff;
    color: #100F22;
    text-decoration: none;
    text-align: center;
    border-radius: 0px;
    font-size: 1.5em;
}

.ps {
    font-family: 'Biocad Display', sans-serif;
    padding-top: 150px;
    text-align: left;
    position: relative;
    margin-bottom: -5%;
    line-height: 50%;
    font-size: 1em;

}
.btn:hover {
    background-color: #00b8cc;
}
